[Unit]
Description=USB/IP Server for BJJCZ gadget
After=jcz-bridge.service
Requires=jcz-bridge.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 2
ExecStart=/bin/bash /opt/d1ultra-bridge/setup_usbip.sh
ExecStop=/usr/bin/killall usbipd

[Install]
WantedBy=multi-user.target
